/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;




.nav-link {
  position: relative;
  padding-bottom: 4px;
}


.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #0052CC; 
  width: 0;
  transition: width 0.3s ease-in-out;
}


.nav-link.active::after {
  width: 100%;
}


.nav-link.active {
  color: #2563eb; 
  
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
